body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: aliceblue;
}

img {
    width: 25px;
    height: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.main {
    display: flex;
    justify-content: center;
}

.cards {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cards .card {
    background: #ffffff;
    margin: 10px;
}

.card > img {
    width: 100%;
    height: auto;
}