body {
    margin: 0 auto;
}

.header {
    background-color: red;
    padding: 5px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    height: 5vh;
}

.nav__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 20px;
    height: 30px;
    width: 20%;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.main {
    height: 85vh;
    display: flex;
}

.main section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;
}

.main .left-section {
    background-color: #E4E9BE;
}

.main .right-section {
    background-color: green;
}

.main h3 {
    text-align: center;
}

.section__ul {
    height: 80%;
    padding-left: 0;
    padding: 0px 10px;
}

.section__ul li {
    list-style: none;
    line-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section__ul li span {
    cursor: pointer;
}

.section__ul hr {
    border: 1px dashed red;
}

.footer {
    background-color: red;
    height: 5vh;
}