body {
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
}

.header__tags {
    display: flex;

    list-style: none;

    margin: 10px;
    padding-left: 0px;
}

.tags__tag {
    padding: 10px 20px;
    margin: 0px 5px;

    background-color: #f3f3f3;
    border-radius: 18px;

    font-size: 16px;
    color:rgb(57, 209, 158);

    cursor: pointer;
}

.form__input {
    border: 0;
    background-color: transparent;

    font-size: 16px;

    outline: none;
}