.main section {
    display: flex;
    flex-direction: column;

    width: 50%;

    padding: 20px 10px;
    margin: 10px;
    
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 16px;
}

.main .right-section {
    background: rgba(255, 255, 255, 0.23);
}

.section__header {
    height: 5%;

    margin: 10px 0px;

    text-align: center;
    font-weight: 700;
}

.section__ul {
    height: 90%;

    padding: 0px 10px;
}

.section__ul li {
    display: flex;
    justify-content: space-between;

    list-style: none;
    line-height: 30px;

    width: 100%;
}

.right-section li {
    color:rgba(0, 0, 0, 0.5);
}

.section__ul li span {
    cursor: pointer;
}

.section__ul hr {
    border: 0.5px solid #D9D9D9;
}

.section__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5%;

    padding: 10px;
}

.right-section .section__footer {
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 16px;
}

.section__footer input {
    width: 90%;
    height: 20px;

    border: 0;
    background: rgba(255, 255, 255, 0);
}

.section__footer input:focus{
    outline: none;
}

.section__footer div {
    width: 10%;

    font-size: 18px;
    text-align: center;
    
    cursor: pointer;
}